<form action="<%= new_sessions_url %>" method="post">
  <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <h1>Login to your MusicApp account Here!</h1>

  <label for="email_field">Email:</label>
  <input id ="email_field"
          type="text"
          name="user[email]"
          value="">
  <br>
  <label for="pass_field">Password:</label>
  <input id ="email_field"
          type="text"
          name="user[password]"
          value="">
          <!-- DO NOT USE ERB IN NAME FIELD NEVER DO THIS -->
  <br>

  <input type="submit" name="" value="Log in!">

</form>
